* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container {
    display: flex;
    background-color: black;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10vmin;
}

/* header {
    border-bottom: 1px, solid, darkgreen;
} */

.title {
    color: white;
    font-size: 8vmin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.message {
    color: rgb(221, 91, 91);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vmin;
    margin: 2vmin 2vmin;
    text-align: center;
    visibility: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 7vmin);
    grid-template-rows: repeat(6, 7vmin);
    gap: 1vmin;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

#board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vmin solid gray;
    font-size: 25px;
    color: white;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: .5vmin;
}

#keyboard div {
    display: flex;
    /* padding-bottom: 100%;
    margin-bottom: -100%; */
}

.key-row1 {
    margin: 0.5vmin;
}

.key-row2 {
    margin: 0.5vmin;
}

.key-row3 {
    margin: 0.5vmin;
}
 
button, #enter-key, #delete-key {
    font-size: 20px;
    font-weight: 100;
    margin: 0 0.5vmin;
    padding: 1vmin;
    border: solid 2px transparent;
    color: white;
    /* background-color: grey; */
    padding-block: 1px;
    padding-inline: 6px;
    border-radius: 4px;
    height: 58px;
    width: 40px;
}

#enter-key, #delete-key {
    width: 65px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(194, 173, 203);
}

#play-again-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -155px);
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    border-radius: 20%;
    padding: 1vmin;
    border: solid 2px transparent;
    width: 100px;
    visibility: visible;
}

#play-again-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
}

@media screen and (max-width: 480px) {
    #keyboard {
        align-items: center;
        width: 100%;
    }
}