* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container {
    display: flex;
    background-color: black;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10vmin;
}

header {
    border-bottom: 1px, solid, darkgreen;
}

.title {
    color: white;
    font-size: 9vmin;
    margin: 5vmin 5vmin;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 7vmin);
    grid-template-rows: repeat(6, 7vmin);
    gap: 1vmin;
    margin-top: 0;
    margin-bottom: 5vmin;
    justify-content: center;
}

#board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vmin solid gray;
    font-size: 25px;
    color: white;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5vmin;
    margin-bottom: 5vmin;
}

#keyboard div {
    display: flex;
}

.row2 {
    margin: 2.5px 0;
}
 
button, #enter-key, #delete-key {
    font-size: 20px;
    font-weight: 100;
    margin: 0 0.5vmin;
    padding: 0.5vmin;
    border: solid 2px grey;
    border-radius: 15%;
    color: white;
    background-color: grey;
}

button:hover {
    cursor: pointer;
    background-color: rgb(194, 173, 203);
}